body {
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: #1f2937;
}

header .header_logo {
    flex: 1;
}

header .nav {
    align-self: flex-end;
    flex: 1;
}

nav ul {
    list-style: none;
}

ul li {
    display: inline;
    color: #e5e7eb;
}
